@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('./assets/fonts/icons.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, "Libre Baskerville", serif, "DM Sans", sans-serif;
}


.content-players {
  @apply w-full py-20;

  h2 {
    @apply text-secondary-700 font-display font-medium;
  }

  .btn-add {
    @apply inline-flex items-center justify-center text-body-1 h-10 px-4 bg-tertiary-green text-semantic-white rounded-lg;
  }

  .list-players {
    @apply block border border-neutral-700 rounded-lg;

    li {
      @apply block space-y-4 py-3;

      .description {
        @apply flex flex-col md:flex-row md:items-center md:justify-between gap-4 px-4 md:px-6;

        h5 {
          @apply text-tertiary-blue font-display font-medium;
        }
  
        .empty {
          @apply text-semantic-error text-lead font-display font-medium text-center w-full;
        }
  
  
        .btn-info {
          @apply inline-flex items-center justify-center h-12 px-4 bg-tertiary-green text-semantic-white text-lead rounded-lg whitespace-nowrap cursor-pointer;
        }
      }

      .detail {
        @apply block space-y-4 border-t border-neutral-700 px-4 md:px-6 py-4;

        h6 {
          @apply text-tertiary-green text-heading-h5-lg text-center font-display font-medium;
        }

        .info {
          @apply block space-y-2;

          p {
            @apply text-lead leading-6 text-neutral-700 font-display font-normal;
          }
        }
      }
    }
    
    li:not(:last-child) {
      @apply border-b border-neutral-700;
    }
  }
}


.content-score {
  @apply w-full py-16;

  .body {
    @apply block space-y-8 max-w-[1000px] mx-auto;

    h1 {
      @apply text-secondary-700 font-display font-semibold;
    }

    .btn-add {
      @apply inline-flex items-center justify-center h-12 px-4 bg-tertiary-green text-semantic-white text-lead rounded-lg whitespace-nowrap;
    }
  
    .body-table {
      @apply overflow-auto;
  
      table {
        @apply w-full border-collapse border border-neutral-700;
  
        thead {
          tr {
            th {
              @apply w-auto border border-neutral-700 text-lead text-secondary-700 font-display font-medium text-center px-4 py-2 whitespace-nowrap;
            }
          }
        }
  
        tbody {
          tr {
            td {
              @apply border border-neutral-700 text-lead font-display font-medium text-secondary-700 text-center px-4 py-2 whitespace-nowrap;
            }
          }
        }
      }
    }
  }
}


.modal-add-match {
  @apply w-full h-full fixed top-0 left-0 bg-semantic-black bg-opacity-60 py-[100px] overflow-auto;


  .body-modal {
    @apply block space-y-6 max-w-[600px] mx-auto bg-semantic-white rounded-xl py-6;

    .title {
      @apply flex flex-col md:flex-row md:items-center justify-between gap-4 border-b border-neutral-700 pb-6 px-2 md:px-4;

      h4 {
        @apply text-center md:text-left text-tertiary-blue font-display font-medium;
      }

      .btn-add {
        @apply inline-flex items-center justify-center h-10 px-4 bg-tertiary-green text-semantic-white rounded-lg;
      }
    }


    form {
      @apply w-full block space-y-6 px-4;

      .form-group {
        @apply block space-y-2;

        label {
          @apply block text-lead text-neutral-700 font-display font-medium;
        }

        .form-control {
          @apply w-full !h-12;

          .css-13cymwt-control {
            @apply w-full !h-12 min-h-full border border-neutral-500 !rounded-lg outline-none shadow-none;

            .css-1dyz3mf {
              @apply w-full h-12 flex items-center m-0 px-2 md:px-3 py-0;

              .css-1p3m7a8-multiValue {
                @apply w-auto m-0 p-0;
              }

              .css-19bb58m {
                @apply h-12 p-0 m-0;
              }
            }
 
            .css-hlgwow {
              @apply w-full h-12 px-2 md:px-3 py-0;

              .css-1jqq78o-placeholder {
                @apply w-full h-12 text-neutral-700 p-0 m-0 flex items-center;
              }

              .css-19bb58m {
                @apply !w-full !h-12 p-0 m-0 flex items-center;

                input {
                  @apply w-full h-12;
                }
              }
            }
          }
        }

        input, select {
          @apply w-full h-12 border border-neutral-500 px-2 md:px-3 rounded-lg placeholder:text-neutral-700 text-primary-700 outline-none;
        }
      }

      button {
        @apply inline-flex items-center justify-center w-full h-12 px-4 bg-tertiary-blue text-semantic-white rounded-lg;
      }
    }
  }
}

.modal-add-player {
  @apply w-full h-full fixed top-0 left-0 bg-semantic-black bg-opacity-60 py-12 flex items-center justify-center overflow-auto;

  .body-modal {
    @apply block space-y-6 w-full max-w-[500px] mx-auto bg-semantic-white rounded-xl py-6;

    .title {
      @apply flex items-center justify-between gap-4 border-b border-tertiary-blue pb-6 px-3;

      h5 {
        @apply text-center text-tertiary-blue font-display font-medium;
      }

      .btn-close {
        @apply inline-flex items-center justify-center h-9 max-w-[36px] min-w-[36px] px-4 bg-tertiary-green text-semantic-white rounded-lg;

        i {
          @apply text-[18px];
        }
      }
    }

    form {
      @apply w-full block space-y-8 px-3;

      .form-group {
        @apply block space-y-2;

        label {
          @apply block text-lead text-neutral-700 font-display font-medium;
        }

        input, select {
          @apply w-full h-12 border border-neutral-500 px-2 md:px-3 rounded-lg placeholder:text-neutral-700 text-primary-700 outline-none;
        }
      }

      button {
        @apply inline-flex items-center justify-center w-full h-12 px-4 bg-tertiary-blue text-semantic-white rounded-lg;
      }
    }
  }
}


 